<template id="checklist">
	<div class="checklist-container" style="">
		<div class="checklist-row" data-label="原稿Gerber">
			<div class="inrowleft">
				<input type="checkbox" id="odb">
				<label for="odb">原稿Gerber</label>
			</div>
			<textarea id="odbText" class="swal2-textarea checklist-textarea" style="" placeholder="確認並填寫備註"></textarea>
		</div>
		<div class="checklist-row" data-label="藍圖">
			<div class="inrowleft">
				<input type="checkbox" id="blueprint">
				<label for="blueprint">藍圖</label>
			</div>
			<textarea id="blueprintText" class="swal2-textarea checklist-textarea" style="" placeholder="確認並填寫備註"></textarea>
		</div>
		<div class="checklist-row" data-label="客戶spec">
			<div class="inrowleft">
				<input type="checkbox" id="spec">
				<label for="spec">客戶spec</label>
			</div>
			<textarea id="odbText" class="swal2-textarea checklist-textarea" style="" placeholder="確認並填寫備註"></textarea>
		</div>
		<div class="checklist-row" data-label="mail附件">
			<div class="inrowleft">
				<input type="checkbox" id="mail">
				<label for="mail">mail附件</label>
			</div>
			<textarea id="odbText" class="swal2-textarea checklist-textarea" style="" placeholder="確認並填寫備註"></textarea>
		</div>
		<div class="checklist-row" data-label="流程單">
			<div class="inrowleft">
				<input type="checkbox" id="workflow">
				<label for="workflow">流程單</label>
			</div>
			<textarea id="odbText" class="swal2-textarea checklist-textarea" style="" placeholder="確認並填寫備註"></textarea>
		</div>
		<div class="checklist-row" data-label="客戶要求附件">
			<div class="inrowleft">
				<input type="checkbox" id="attachment">
				<label for="attachment">客戶要求附件</label>
			</div>
			<textarea id="odbText" class="swal2-textarea checklist-textarea" style="" placeholder="確認並填寫備註"></textarea>
		</div>
		<div class="checklist-row" data-label="工程問題">
			<div class="inrowleft">
				<input type="checkbox" id="question">
				<label for="question">工程問題</label>
			</div>
			<textarea id="odbText" class="swal2-textarea checklist-textarea" style="" placeholder="確認並填寫備註"></textarea>
		</div>
		<div class="checklist-row" data-label="跑填膠公式">
			<div class="inrowleft">
				<input type="checkbox" id="formula">
				<label for="formula">跑填膠公式</label>
			</div>
			<textarea id="odbText" class="swal2-textarea checklist-textarea" style="" placeholder="確認並填寫備註"></textarea>
		</div>
	</div>
</template>